services:
  - type: web
    name: book-my-show-client
    env: static
    buildCommand: cd client/netflix && npm install && npm run build
    staticPublishPath: client/netflix/dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    headers:
      - path: /*
        name: Cache-Control
        value: no-cache
